/* PHASE 0: Sidebar */

.profile-picture a {
  display: block;
  margin: -120px 0px;
  position: relative;
}

.profile-info {
  margin: 120px 0px 20px 0;
}

.profile-info h2 {
  font-size: 25px;
  font-weight: bold;
  margin: 140px 0px 20px 0;
}

.profile-nav li {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0;
  border-top: 1px solid rgb(223, 223, 223);
  /* height: 30px; */
}

.profile-nav ul:last-child {
  border-bottom: 1px solid rgb(223, 223, 223);
}

.profile-nav li:hover {
    background-color:  rgb(240, 239, 239);
}


.online {
    position: absolute;
    margin: -165px 0 0 -40px ;
    height: 35px;
    width: 180px;
    background-color: lime;
    border-top: 1px solid rgb(28, 128, 28);
    transform: rotate(-45deg);
}